# default build dirs
/builddir
/build
# QtCreator project files
/*.user
*.qmlc
*.jsc
# Eclipse project files
/.project
/.cproject
/.settings
/.pydevproject
# KDevelop project Files
/.kdev4/
/build/
/*.kdev4
.clickable/
